/* Keep CSS code cleaner */

@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Signika');

/* resets browser default margin and padding (removes it) so y
ou can go in and edit what you want -- ALWAYS ADD TO NEW WEBSITE 
and then go back in and fix padding and margins the way  you want them! 
-- the bottom line means: calculation for padding and widths*/
*{
	margin:0; 
	padding:0; 
	box-sizing: border-box;
}
/* need to have CSS look like the webpage -- 
it needs to follow along - so as not to have duplicate CSS 
code (which the lowest on the page will override that, that is on top of it)
The body tag needs to go under the reset removal of margin/padding ----
--- you will use more classes then ID's useally in your webpage.*/

body {
	font-size: 12px;
	line-height:14px;
    background-color: #f3f3f3;
    /*margin: 0 auto;*/
	overflow:scroll;
	text-align: center;
		}

header {
	height: 45px;
	/*height: 120px;
	margin:0px auto 55px auto;*/
	margin:0px auto 40px auto;
	border-bottom:solid 1px #ababab;
	background-color: #f3f3f3;
	position:relative;
}

header img{
	float:left;
	width: 190px;
}

nav { 
 	position: absolute;
    display:inline;
	font-family: 'Signika', sans-serif;*/
}


nav a {
	text-decoration: none;
	color: #6B6665;
		}

/* mouse over link */
a:hover {
   color: #5fbbc6; /* blue in logo */
}
a {
	text-decoration:none;
	color: #6B6665;
    }

.navigation1 {

    font-size: 1.1em;
    text-align: right;
    text-transform: uppercase;
	display:inline-block;
	position:absolute;
	right:3%;
	top:40%;
	z-index:1000;
	height: 50px;
    margin:0 5px 0 15px;
	}

.navigation1 a {
	margin:0 5px 0 15px;
	height: 50px;
    display: inline;
	}
		

.navigation2 {
	text-align:center;	
	display: inline;
    height: 65px;
	text-align:center;	
	margin-top:30px;
	color: #6B6665;
	}
	
.navigation2 a {
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:normal;
	line-height: 40px;
	text-decoration: none;
	margin:0 7px 0 7px;
	padding:10px 0;
	}

.nav-middle {
	width: 80%;
	margin-bottom: 60px;
	text-align: center;
	position: relative;
}

main{
	background-color: transparent;
	color: #3C3C3C;
	padding-top: 15px;
	padding-bottom: .5px;
	margin-top:8px
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Signika', sans-serif;
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}


img {
	width: 100%;
}

p {
	text-align: center;
	font-family: 'Cormorant', serif;
	font-size: 16px;
	line-height:1.5em;
	width: 25em; 
 	color: white;
	width:100%;
	margin-left:1px;
}


ul {
 	list-style-type: none;
	width: 100%;
   	color: white;
   	font-family: 'Signika', sans-serif; 
   	font-size: 10px; 
   	text-align: left;
}


#logo {
	margin: 2px 15px 15px 10px;
   	display:inline;
  	width: 190px;
 	float: left;
	}

#top-section {
	background-color: #5fbbc6;
 	margin-bottom: auto;
 	height: 425px;
 	text-align: left;
}

#welcTXT {
	font-family: 'Signika', sans-serif;
	/*font-size: 16px;*/
	font-size: 35px;
	color: #4f4f4f;
	text-align: left;
	/*padding: 40px 0;*/
	height: 6px;
	padding-top: 100px;
	padding-bottom: 65px;
	padding-left: 5px;

}

#port-wordsBig {
	padding: 40px 90px;
	/*padding: 40px 0px;*/
	font-family: 'Signika', sans-serif;
	/*font-size: 95px;*/
	font-size: 125px;
	color: #4f4f4f;
	text-align: left;
	width: 800px;
	margin-top: : auto;
}

#points {
	padding: 60px 0;
	font-family: 'Signika', sans-serif;
	/*font-size: 30px;*/
	font-size: 50px;
	color: #FFFFFF;
	width: 600px;
	padding-left: 5px;

}





.artwork{
	width: 33.333%;
	padding: 10px;
	float: left;
	margin: auto;
}



/* footer only*/
.copyright {
    text-align: left;
}


footer {
	font-family: 'Signika', sans-serif;
	font-size: 10px;
	color: #6B6665;
	height:	20px;
	margin:	10px auto 10px auto;
	border-top:solid 1px #ababab;
	padding-top: 5px;
	position:relative;
	align-content: left;
    text-decoration: none;
}

footer img{
	float: right;
	width: 14px;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}

.wrapper {
	max-width: 1080px;
	background-position: center;
	margin: auto;
	position: relative;
}


