/* Keep CSS code cleaner */

@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Signika');

/* resets browser default margin and padding (removes it) so y
ou can go in and edit what you want -- ALWAYS ADD TO NEW WEBSITE 
and then go back in and fix padding and margins the way  you want them! 
-- the bottom line means: calculation for padding and widths*/
*{
	margin:0; 
	padding:0; 
	box-sizing: border-box;
}
/* need to have CSS look like the webpage -- 
it needs to follow along - so as not to have duplicate CSS 
code (which the lowest on the page will override that, that is on top of it)
The body tag needs to go under the reset removal of margin/padding ----
--- you will use more classes then ID's useally in your webpage.*/

body {
	font-size: 16px;
	font-family: 'Signika', sans-serif;
	line-height:14px;
    background-color: #f3f3f3;
	text-align: center;
		}

header {
	height: 60px;
	margin: 10px auto 30px auto;
	border-bottom:solid 1px #ababab;
	background-color: #f3f3f3;
	position:relative;
}

header img{
	float:left;
	width: 190px;
}

nav { 
    display:inline-block;
}

nav a {
	text-decoration: none;
	color: #6B6665;
		}

/* mouse over link */
a:hover {
   color: #5fbbc6; /* blue in logo */
}

a {
	text-decoration:none;
	color: #6B6665;
    }

.navigation1 {
   float:right;
	}

.navigation1 a {
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em;
	float:left;
	}

.navigation2 {
	text-align:center;	
	display:inline-block;
    height: 65px;
	text-align:center;	
	margin-top:30px;
	color: #6B6665;
	float: none;
	}
	
.navigation2 a {
	font-size: 16px;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height: 40px;
	text-decoration: none;
	padding: 1em;
	}

.nav-middle {
	width: 100%;
	margin-bottom: -30px;
	text-align: center;
	position: relative;
}

main{
	color: #3C3C3C;
	padding-top: 15px;
	padding-bottom: .5px;
	margin-top:8px
}

img {
	width: 100%;
}

p {
	text-align: center;
	font-family: 'Cormorant', serif;
	font-size: 16px;
	line-height:1.5em;
	width: 25em; 
 	color: white;
}

#logo {
	margin: auto;
   	display:inline;
	}

#top-section { /*blue box*/
	background-color: #5fbbc6;
	color: #4f4f4f;
	margin-bottom: auto;
	text-align: left;
	padding: 8em;
}
#top-section span {
	display:block;
}
#welcTXT {
	font-size: 35px;
}
#bigTXT {
	font-size:125px;
	margin-left: -8px;
}

#port-wordsBig {
	/* font-size: 125px; */
	line-height: .8;
}

#points {
	font-family: 'Signika', sans-serif;
	font-size: 53.5px;
	color: #FFFFFF;
	text-align: left;
}

.artwork{
	width: 33.333%;
	padding: 10px;
	float: left;
	margin: auto;
}

.copyright {
    text-align: left;
    font-size: .75em;
    padding-left: 10px;
}

footer {
	color: #6B6665;
	height:	20px;
	margin:	10px auto 10px auto;
	border-top:solid 1px #ababab;
	padding-top: 5px;
	position:relative;
	align-content: left;
    text-decoration: none;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}

.wrapper {
	max-width: 1080px;
	background-position: center;
	margin: auto;
	position: relative;
}


/* -------------- RESPONSIVE DESIGN  --------------- */

/* -------------- desktop/laptop  --------------- */

@media screen and (max-width: 1024px){

	header {
		margin: 10px auto 35px auto;
		max-width:97%;
	}

	#top-section { /*blue box*/
 		margin-top: 60px;
	}
}


/* -------------- tablets/sm  --------------- */

@media screen and (max-width: 768px){

	#top-section { /*blue box*/
		padding-left: 2.5em;
	}

	#welcTXT {
		font-size: 21px;
	}

	#bigTXT {
		font-size: 78px;
		margin-left: -4px;
	}

	#points {
		font-size: 33px;
	}

	.artwork{
		width: 50%;
		padding: .80%;
	}

}

/* -------------- phone larger  --------------- */

@media screen and (max-width: 640px){

	header {
		max-width:95%;
		margin:0px auto 35px auto;
		border-bottom: 0px;
	}

	header img{
		float: none;
		width: 190px;
		padding-bottom: 15px;
		padding-top: 10px;
	}

	.navigation1 {
   		float:none;
	}

	#welcTXT {
		font-size: 18px;
	}

	#bigTXT {
		font-size: 70px;
	}

	#points {
		font-size: 30px;
	}
}

/* -------------- phone sm--------------- */

@media screen and (max-width: 480px){

	#welcTXT {
		font-size: 16px;
	}

	#bigTXT {
		font-size: 60px;
		margin-left: -4px;
	}

	#points {
		font-size: 25px;
	}

}



}
