/* Keep CSS code cleaner */

@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Signika');

/* resets browser default margin and padding (removes it) so y
ou can go in and edit what you want -- ALWAYS ADD TO NEW WEBSITE 
and then go back in and fix padding and margins the way  you want them! 
-- the bottom line means: calculation for padding and widths*/
*{
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}
/* need to have CSS look like the webpage -- 
it needs to follow along - so as not to have duplicate CSS 
code (which the lowest on the page will override that, that is on top of it)
The body tag needs to go under the reset removal of margin/padding ----
--- you will use more classes then ID's useally in your webpage.*/

body {
		background-image: url('../images/maybeCork.jpg');
		text-align: center;
		font-size: 16px; /*1em = 16px*/
		color: white;
		position: relative;
		}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 15px;
}

nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    border: 1px black solid;
	line-height: 2em;
	padding: 0.5em 1em;
 	position: absolute;
 	/* position: fixed; made it scroll with rest of screen - did notwantthat */
    display:inline;
    right: 0;
	text-decoration: none;
	font-family: 'Signika', sans-serif;
}

nav a {
	color: #4f4f4f;
	margin-right: 5px;
		}

/* unvisited link */
a:link {
   text-decoration: none;
   color: #4f4f4f;
}


/* mouse over link */
a:hover {
   text-decoration: none;
   color: #d3d3d3;
}

main{
	background-color: #404040;
	color: #3C3C3C;
	padding-top: 15px;
	padding-bottom: .5px;
	margin-top:8px
}

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Signika', sans-serif;
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}

hr {
	background-repeat: no-repeat;
	margin-top: 4px;
	margin-bottom: 4px;
	height: 1px;
	background-color: #4f4f4f;
	border:none;
	width: 100%;
}

p {
			text-align: center;
			font-family: 'Cormorant', serif;
			font-size: 1em;
			line-height:1.5em;
			width: 25em; 
 			margin:1em auto;
 			color: white;
		}


ul {
 	list-style-type: none;
    /*  position: absolute; */
	width: 100%;
   	color: white;
   	font-family: 'Signika', sans-serif; 
   	font-size: 10px; 
   	text-align: left;
}

#logo {
	margin: 2px 15px 15px 10px;
   /* margin: 10px 15px 15px 10px;*/
    left: 0;
    display:inline;
    padding-bottom: 15px;
		}

#top-section {
	background-color: #FFE2B8;
    border: 1px black solid;
	background-image: url(../images/homepgstrip.jpg);
 	background-size: cover;
 	margin-bottom: 8px;
 	height: 425px;
}


/* fonts, headings and paragraphs */

#home_pg_middle{
	 background-color: #FFE2B8;
    border: 1px black solid;
   
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#welcTXT {
	 background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
	font-family: 'Signika', sans-serif;
	font-size: 16px;
	color: #4f4f4f;
	text-align: left;
	padding-left: 6px;
	height: 6px;
	padding-top: 100px;

}

#port-wordsBig {
		 background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
	font-family: 'Signika', sans-serif;
	font-size: 95px;
	color: #4f4f4f;
	text-align: left;
	width: 500px;

	margin: auto;
}

#points {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
	font-family: 'Signika', sans-serif;
	font-size: 30px;
	color: #4f4f4f;
	width: 500px;
	padding-left: 5px;

}

.nav-middle {
	
	width:30em;
	/*margin:2em;*/
	/*background-color: #4f4f4f;*/

	margin-bottom: 60px;
}

.artwork{
	background-color: #FFE2B8;
    border: 1px black solid;
	width:30em;
	/*margin:2em;*/
	/*background-color: #4f4f4f;*/
	padding:50px;
	margin: auto;
}



/* footer only*/
.copyright {
    text-align: left;
}

footer {
	font-family: 'Signika', sans-serif;
	/*font-size: 9px;*/
	color: #4f4f4f
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 5px;
	align-content: left;
	margin-top: 15px;
	background-color: #FF957E;
    border: 1px black solid;
}

.wrapper {
background-position: center;
	margin: auto;
	position: relative;
}