

header {
			
			padding: 15px;
		}


nav {
	text-align: right;
	text-decoration: none;
}

nav a {
			color: #4f4f4f;
			margin-right: 10px;
		}



img #logo {
			align-content: left;
			background-repeat: no-repeat;
		}




		body {

background-image: url(../images/maybeCork.jpg);

 background-size: cover;

		}

/* fonts, headings and paragraphs */

img #home_pg_middle{
	position: relative;
width: 100%;
background-repeat: no-repeat;
}

h5 {
  position: absolute; 
   top: 340px;
   width: 100%;
   text-align: center;

			font-family: Arial, Helvetica, sans-serif; font-size: 15px; 
			text-align: center;
			color: #4f4f4f;
		}
h3 {
	 position: absolute; 
	top: 420px;
	width: 100%;
	text-align: center;

			font-family: Arial, Helvetica, sans-serif; font-size: 40px; 
		
			color: #4f4f4f;
		}

		p {

			  position: absolute; 
			  width: 100%;
   			top: 550px;
text-align: center;

			font-family: Arial, Helvetica, sans-serif; font-size: 10px; 
		
			color: white;
			margin: 20px;
		}

#slogan {
	position: absolute; 
	top: 300px;
	width: 100%;
	text-align: center;
			font-family: Arial, Helvetica, sans-serif; font-size: 90px; 
			text-align: center;
			font-style: italic;
			color: #4f4f4f;
			
		}


		ul {
    text-align: center;
    list-style-type: none;
      position: absolute; 
			  width: 100%;
   			top: 620px;
   			color: white;
   			font-family: Arial, Helvetica, sans-serif; font-size: 10px; 
}







/* footer only*/

#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	color: #4f4f4f
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;}